CH_API_KEY_1=
CH_API_KEY_2=
CH_API_KEY_3=
CH_API_KEY_4=
SERPER_API_KEY=
ANTHROPIC_API_KEY=
DB_PATH=./research.db
INPUT_CSV=./input.csv
OUTPUT_CSV=./output.csv
SENDER_NAME=Daniel
SENDER_MOBILE=07XXX XXXXXX
SENDER_COMPANY=V Squared Partners
